/TypeScript/Express/node_modules

/legacy/DotNet/.vs
/legacy/DotNet/.vscode
/legacy/DotNet/Business/bin
/legacy/DotNet/Business/obj
/legacy/DotNet/DataAccess/bin
/legacy/DotNet/DataAccess/obj
/legacy/DotNet/Core/obj
/legacy/DotNet/Core/bin
/legacy/DotNet/Entities/obj
/legacy/DotNet/Entities/bin
/legacy/DotNet/WebAPI/bin
/legacy/DotNet/WebAPI/obj

/CSharp/DotNetWebAPI/WebAPI/.vscode
/CSharp/DotNetWebAPI/WebAPI/bin
/CSharp/DotNetWebAPI/WebAPI/obj

/Java/Spring/e-commerce/.apt_generated_test
/Java/Spring/e-commerce/.idea
/Java/Spring/e-commerce/.mvn
/Java/Spring/e-commerce/target


/Kotlin/ecommerce/.idea
/Kotlin/ecommerce/.mvn
/Kotlin/ecommerce/target



